[core]
	excludesfile = /Users/jieyouxu/.gitignore_global
[user]
	name = 许杰友 Jieyou Xu (Joe)
	email = jieyouxu@outlook.com
	signingKey = 7FF628F1AC36CFC9A224A2D595DDEBD74A1DC2C0
[commit]
	gpgsign = true
[alias]
	lg = log --graph --pretty=format:'[%Cred%h%Creset]%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
	sum = log -n 80 --pretty=oneline
	dc = diff --cached
	d = diff
	rb = rebase
	cm = commit
	rs = restore --staged .
	commit = commit --cleanup=scissors
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
[sequence]
	editor = interactive-rebase-tool
[pull]
	ff = only
