# Ignore all files
**/*
!.config/

# `git` configuration
!.gitignore
!.gitignore_global
!.gitconfig

# `httpie` config
!.httpie/

# `hyper` config
!.hyper.js

# `nano` config
!.nanorc

# tools (e.g. `cpputest`)
!tools/

# `yarn` config
!.yarnrc

# `zsh` config
!.zshrc

# `tldr` config
!.tldrrc

# `bash` and profile
!.profile
!.bash_profile
!.bashrc

# `oh_my_zsh`
!.oh-my-zsh/

# `alacritty` config
!.config/alacritty/
!.config/alacritty/*

# Neovim `nvim` config
!.config/nvim/
!.config/nvim/*.vim

# Brew listings and script
!.list-brew-packages.sh
!.brewlist
!.brewcasklist
